@charset "utf-8";
/* 描述:轮机工程专业适任考试与仿真系统
 * 时间:2014-5-3
 */
@media screen and (min-width:1100px){
.header-bar h1{margin-top:0;font-size:2.6em;}
.header-bar .login-btn{margin-top:0;font-size:1.9em;}
.nav-panel li a{font-size:2.5em;}
.widget_content li{width:35%;max-width:285px;height:80px;padding:0 2% 50px 2%;}
a.widget4x6{display:block;height:130px;padding-top:100px;font-size:2.5em;}
a.widget4x2{height:86%;padding-top:10%;font-size:2.5em;}
a.widget2x2{height:82%;padding-top:12%;font-size:1.8em;}
a.widget1x1{height:42%;padding-top:5%;font-size:1.2em;}
.copyright{width:220px;height:60px;font-size:16px;}
} 
@media screen and (min-width:900px) and (max-width:1099px){
.header-bar h1{margin-top:0;font-size:2.6em;}
.header-bar .login-btn{margin-top:0;font-size:1.9em;}
.nav-panel li a{font-size:2.5em;}
.widget_content li{width:36%;height:80px;padding:0 2% 40px 2%;}
a.widget4x6{display:block;height:125px;padding-top:90px;font-size:2.5em;}
a.widget4x2{height:86%;padding-top:10%;font-size:2.5em;}
a.widget2x2{height:72%;padding-top:16%;font-size:1.6em;}
a.widget1x1{height:42%;padding-top:5%;font-size:1.2em;}
.copyright{width:220px;height:60px;font-size:16px;}
}
@media screen and (min-width:800px) and (max-width:899px){
.header-bar h1{margin-top:0;font-size:2.6em;}
.header-bar .login-btn{margin-top:0;font-size:1.9em;}
.nav-panel li a{font-size:2.5em;}
.widget_content li{width:38%;height:80px;padding:0 2% 30px 2%;}
a.widget4x6{display:block;height:115px;padding-top:80px;font-size:2.5em;}
a.widget4x2{height:86%;padding-top:10%;font-size:2.5em;}
a.widget2x2{height:73%;padding-top:16%;font-size:1.4em;}
a.widget1x1{height:42%;padding-top:5%;font-size:1.2em;}
.copyright{display:none;}
}
@media screen and (min-width:700px) and (max-width:799px){
.header-bar h1{margin-top:0;font-size:2.6em;}
.header-bar .login-btn{margin-top:0;font-size:1.9em;}
.nav-panel li a{font-size:2.3em;}
.widget_content li{width:38%;height:70px;padding:0 2% 30px 2%;}
a.widget4x6{display:block;height:105px;padding-top:70px;font-size:2.5em;}
a.widget4x2{height:82%;padding-top:9%;font-size:2.3em;}
a.widget2x2{height:67%;padding-top:16%;font-size:1.2em;}
a.widget1x1{height:37%;padding-top:5%;font-size:1.1em;}
.copyright{display:none;}
}
@media screen and (min-width:600px) and (max-width:699px){
.header-bar h1{margin-top:1%;font-size:2.4em;}
.header-bar .login-btn{margin-top:0.5%;font-size:1.8em;}
.nav-panel li a{font-size:2.1em;}
.widget_content li{width:42%;height:60px;padding:0 2% 30px 2%;}
a.widget4x6{display:block;height:95px;padding-top:60px;font-size:2.2em;}
a.widget4x2{height:92%;padding-top:6%;font-size:2.3em;}
a.widget2x2{height:74%;padding-top:12%;font-size:1.2em;}
a.widget1x1{height:43%;padding-top:3%;font-size:1.1em;}
.copyright{display:none;}
}
@media screen and (min-width:550px) and (max-width:599px){
.header-bar h1{margin-top:1%;font-size:2.2em;}
.header-bar .login-btn{margin-top:1%;font-size:1.7em;}
.nav-panel li a{font-size:1.9em;}
.widget_content li{width:42%;height:60px;padding:0 2% 20px 2%;}
a.widget4x6{display:block;height:85px;padding-top:50px;font-size:2.0em;}
a.widget4x2{height:92%;padding-top:6%;font-size:2.3em;}
a.widget2x2{height:74%;padding-top:12%;font-size:1.2em;}
a.widget1x1{height:43%;padding-top:3%;font-size:1.1em;}
.copyright{display:none;}
}
@media screen and (min-width:500px) and (max-width:549px){
.header-bar h1{margin-top:1.5%;font-size:2.0em;}
.header-bar .login-btn{margin-top:1%;font-size:1.6em;}
.nav-panel li a{font-size:1.7em;}
.widget_content li{width:92%;height:50px;padding:0 2% 15px 2%;}
a.widget4x6{display:block;height:75px;padding-top:40px;font-size:2.0em;}
a.widget4x2{height:95%;padding-top:3%;font-size:2.1em;}
a.widget2x2{height:75%;padding-top:9%;font-size:1.2em;}
a.widget1x1{height:45%;padding-top:1%;font-size:1.1em;}
.copyright{display:none;}
}
@media screen and (min-width:450px) and (max-width:499px){
.header-bar h1{margin-top:1.5%;font-size:1.8em;}
.header-bar .login-btn{margin-top:1%;font-size:1.5em;}
.nav-panel li a{font-size:1.6em;}
.widget_content li{width:92%;height:50px;padding:0 2% 15px 2%;}
a.widget4x6{display:block;height:75px;padding-top:40px;font-size:1.9em;}
a.widget4x2{height:95%;padding-top:3%;font-size:2.1em;}
a.widget2x2{height:75%;padding-top:9%;font-size:1.2em;}
a.widget1x1{height:45%;padding-top:1%;font-size:1.1em;}
.copyright{display:none;}
}
@media screen and (min-width:400px) and (max-width:449px){
.header-bar h1{margin-top:2%;font-size:1.7em;}
.header-bar .login-btn{margin-top:1.5%;font-size:1.5em;}
.nav-panel li a{font-size:1.5em;}
.widget_content li{width:92%;height:50px;padding:0 2% 15px 2%;}
a.widget4x6{display:block;height:75px;padding-top:40px;font-size:1.8em;}
a.widget4x2{height:95%;padding-top:3%;font-size:2.1em;}
a.widget2x2{height:75%;padding-top:9%;font-size:1.2em;}
a.widget1x1{height:45%;padding-top:1%;font-size:1.1em;}
.copyright{display:none;}
}
@media screen and (min-width:370px) and (max-width:399px){
.header-bar h1{margin-top:2%;font-size:1.6em;}
.header-bar .login-btn{margin-top:1.5%;font-size:1.4em;}
.nav-panel li a{font-size:1.4em;}
.widget_content li{width:92%;height:50px;padding:0 2% 12px 2%;}
a.widget4x6{display:block;height:65px;padding-top:35px;font-size:1.6em;}
a.widget4x2{height:84%;padding-top:8%;font-size:1.6em;}
a.widget2x2{height:73%;padding-top:12%;font-size:1.0em;}
a.widget1x1{height:43%;padding-top:2%;font-size:0.9em;}
.copyright{display:none;}
}
@media screen and (min-width:300px) and (max-width:369px){
.header-bar h1{margin-top:2.5%;font-size:1.5em;}
.header-bar .login-btn{margin-top:1.5%;font-size:1.4em;}
.nav-panel li a{font-size:1.2em;}
.widget_content li{width:92%;height:40px;padding:0 2% 7px 2%;}
a.widget4x6{display:block;height:55px;padding-top:30px;font-size:1.2em;}
a.widget4x2{height:84%;padding-top:2%;font-size:1.4em;}
a.widget2x2{height:73%;padding-top:4%;font-size:0.6em;}
a.widget1x1{height:45%;padding-top:0%;font-size:0.7em;}
.copyright{display:none;}
}
@media screen and (max-width:299px){
.header-bar h1{margin-top:2.5%;font-size:1.4em;}
.header-bar .login-btn{margin-top:1.5%;font-size:1.3em;}
.nav-panel li a{font-size:1.2em;}
.widget_content li{width:92%;height:40px;padding:0 2% 7px 2%;}
a.widget4x6{display:block;height:55px;padding-top:30px;font-size:1.0em;}
a.widget4x2{height:84%;padding-top:2%;font-size:1.4em;}
a.widget2x2{height:73%;padding-top:4%;font-size:0.6em;}
a.widget1x1{height:45%;padding-top:0%;font-size:0.7em;}
.copyright{display:none;}
}